@import "tailwindcss";

:root {
  --background: white;
  /* amber-50 */
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-cormorant);
}

html {
  scroll-behavior: smooth;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}