@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));


:root {
  /* amber-50 */
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-cormorant);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}


body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}